---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ValueProps from "../components/ValueProps.astro";
import Demo from "../components/Demo.astro";
import Plugins from "../components/Plugins.astro";
import Comparison from "../components/Comparison.astro";
import Install from "../components/Install.astro";
import Architecture from "../components/Architecture.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---
<Base>
  <Header />
  <main>
    <Hero />
    <ValueProps />
    <Demo />
    <Plugins />
    <Comparison />
    <Install />
    <Architecture />
    <CTA />
  </main>
  <Footer />
</Base>
